/* файл normalize.css берем отсда https://necolas.github.io/normalize.css/*/


*{
  box-sizing: border-box; /*чтобы паддинши входил в контент*/
}

body{
  font-family: 'Roboto', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

.header{
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5;
}

.navbar{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu{
  display: flex;
  text-align: center;
}

.navbar-item{
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-link{
  color: #fff;
}


.navbar-contacts{
  text-align: right;
}

.navbar-text{
  display: block;
  color: #fff;
  margin-bottom: 4px;
}

.navbar-phone{
  font-style: bold;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
}