/* файл normalize.css берем отсда https://necolas.github.io/normalize.css/*/


/*шрифт скачали отсюда https://ofont.ru/view/3379*/
@font-face { /* это взяли из файла style.css, а сам этот файл лежит в скачанном архиве с сайта https://transfonter.org/*/
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('BebasNeueRegular.woff2') format('woff2'),
        url('BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




*{
  box-sizing: border-box; /*чтобы паддинши входил в контент*/
}

body{
  font-family: 'Roboto', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}


.contaner{
  max-width: 1280px;
  margin: 0 auto;
}



.header{
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5;
}

.navbar{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu{
  display: flex;
  text-align: center;
}

.navbar-item{
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-link{
  color: #fff;
}


.navbar-contacts{
  text-align: right;
}

.navbar-text{
  display: block;
  color: #fff;
  margin-bottom: 4px;
}

.navbar-phone{
  font-style: bold;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
}

.main{
  padding-top: 54px;
  
}

.main .contaner{
  display: flex;
  
}




.home-image path{ /* svg добавиили класс сами*/
  opacity: 0;
  cursor: pointer;
}


.home-image path:hover{
  opacity: 1;
}

.main-info{ /*флекс элемент, котрый сам флекс кнтенер*/
  flex-grow: 1; /*эдлемент расширятьсяб если  будет свобоное место*/
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-title{
  margin: 0;
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}

.counter-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter{
  margin-top: 10px;
  color: #635854;
  font-size: 124px;
  font-family: 'Bebas Neue Cyrillic', sans-serif;
}

.counter-button{ /*button*/
  border: none;
  
  background-color: #fff;
}

.counter-arrow-down{ /*svg*/
  transform: rotateX(180deg);
}

.button-primary{
  padding: 16px 38px;
  border: none;
  background-color: rgba(53, 150, 245, 1);
  border-radius: 6px;
  color: #FFFFFF;
}